#loginContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100vh;
  background-color: #7f8c8d;
  color: white;
  flex-direction: column;
}

#loginContainer h2 {
  margin-bottom: 100px;
  font-size: 60px;
}
