#dashboardContainer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 12px;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 237, 237);
  flex-direction: column;
  color: black;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.errorText {
  color: rgb(255, 25, 0);
  margin-bottom: 10px;
}

#dashboardContainer h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.form {
  margin-top: 30px;
  background-color: rgb(253, 253, 253);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 30px;
}

.form label {
  color: rgb(47, 47, 47);
  margin-bottom: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.form h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 27px;
  font-weight: 500;
  margin: 15px 0;
}

.form select {
  margin-bottom: 10px;
  height: 30px;
  border-radius: 6px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  outline: none;

  border: white;
  padding-left: 6px;
}

.form select:focus {
  transition: all 0.5s;
  border: 1.5px solid orange;
}

.form input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 300px;
  outline: none;
  margin-bottom: 10px;
  border: none;
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  outline: white;
}

.form input:active,
.form input:focus {
  transition: all 0.6s;
  outline: rgb(255, 123, 0) 1.5px solid;
}

.form button {
  color: white;
  background-color: rgb(255, 123, 0);
  border-radius: 6px;
  height: 40px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  transition: all 0.4s;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.form button:hover {
  transform: scale(1.03);
}

.logOutButton {
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 90px;
  transition: all 0.3s;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.logOutButton:hover {
  transform: scale(1.03);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
